.login-container {
  margin: auto;
  width: 32%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px 5px 15px 25px;
  box-shadow: 1px 1px 1px 1px #888888;
  background-color: #fff;

  .heading {
    font-size: 24px;
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system,
      BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-align: center;
  }

  label {
    font-size: 17px;
    font-weight: 500;
    font-family: sans-serif;
  }

  .input-field {
    width: 86.7%;
    height: 23px;
    margin-top: 5px;
    padding: 5px 5px 5px 30px;
  }

  .icon-style {
    position: relative;
    bottom: 29px;
    left: 5px;
    font-size: 21px;
  }

  .buttons {
    border: none;
    padding: 6px;
    color: #fff;
    background-color: #2874f0;
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    width: 95%;
    border-radius: 3px;
    height: 37px;
    cursor: pointer;
  }
}
