.heading {
  color: black;
  display: inline-block;
  height: 38px;
  width: 18%;
  margin: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(179, 171, 162);
}

.heading:hover {
  color: black;
  display: inline-block;
  height: 58px;
  width: 28%;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(179, 171, 162);
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .heading {
    color: green;
  }
}

@media only screen and (max-width: 425px) {
  .heading {
    color: orange;
  }
}
